@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #F87171;
    --dark-gray: #9CA3AF;
    --off-white: #E5E7EB;
    --pale-indigo: #818CF8;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
}

hr {
    margin: 2rem 0rem;
}

/* Container */
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    line-height: 50px;
}

.link-primary {
    width: 150px;
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    width: 150px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color)
}

.link-secondary:hover {
    background-color: var(--primary-color);
    color: white;

}

@media (max-width: 469px) {
    .padding-md .link-secondary {
        display: inline;
    }
}

/* Project link's style */
.link-effects {
    box-sizing: border-box;
    color: rgb(168, 68, 68);
    position: relative;
    margin-bottom:15px
}

.link-effects:before, .link-effects:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transition: all 0.3s ease;
}

.link-effects:before {
    
    top: -2.5%;
	left: -1%;
	border-top: 2px solid var(--primary-color);
	border-left: 2px solid var(--primary-color);	
}

.link-effects:after {
	bottom: -2.5%;
	right: -1%;
	border-bottom: 2px solid var(--primary-color);
	border-right: 2px solid var(--primary-color);
}

.link-effects:hover:before, .link-effects:hover:after{
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.social-links li {
    display: inline;
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    padding-bottom: 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
    /* border-bottom-right-radius: 1rem; */
}

.nav-brand {
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    letter-spacing: 2px;
}

.navigation .nav-pills {
    text-align: right;
}

.nav-link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
    letter-spacing: 1px;    
}

.navigation .link-active {
    font-weight: bold;
}

/* header */
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center ;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;
    justify-content: center;
}

.section h2{
    text-align: center;
}

.section-underline {
    margin: auto;
    border-top: 2px solid var(--pale-indigo);
    width: 20%;
}

/* padding for projects section */
.padding-md {
    padding: 2rem;
}

/* off-white section */
.ow {
    background-color: var(--off-white);
}

/* footer */
.footer {
    background-color: var(--primary-color);
    padding: 2rem 0;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    /* border-top-left-radius: 1rem; */
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

/* extra padding from browser */
.footer ul {
    padding-inline-start: 0px;
}
