@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #F87171;
    --dark-gray: #9CA3AF;
    --off-white: #E5E7EB;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

/* Container */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

hr {
    margin: 2rem 0;
}

/* lists */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0 0.5rem;
}

/* navigation */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    color: white;
    border-bottom-left-radius: 1rem;
}

.nav-brand {
    font-weight: bold ;
}
.navigation .nav-pills {
    text-align: right;
}
.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 450px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    padding-top: 1rem;
    color: var(--dark-gray);
    text-align: center ;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/* section */
.section {
    padding: 2rem;

}

.section h3{
    text-align: center;
}

.ow {
    background-color: var(--off-white);
}

/* footer */
.footer {
    background-color: var(--primary-color);
    padding: 2rem 0;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
.footer ul {
    padding-inline-start: stop;
}